.ui-widget{
    font-size: 12px !important;
}

.center{
    background-image: url("lojacomercial.png");
    display: block;
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 0;
    margin-bottom: 0;
    height: 500px;
    width: 50%;
    background-repeat: no-repeat;
}