<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <h:panelGroup rendered="#{produtoControle.layoutForm}">
        <h:form>
            <p:panel header="Cadastro de produto">
                <h:panelGrid columns="2">
                    <p:outputLabel value="Descrição:" for="descricaoProduto"/>
                    <p:inputText value="#{produtoControle.entidade.descricaoProduto}"
                                 id="descricaoProduto"
                                 required="true" 
                                 requiredMessage="A descrição é obrigatória"/>

                    <p:outputLabel value="NCM:" for="ncm"/>
                    <p:inputText value="#{produtoControle.entidade.ncm}"
                                 id="ncm"/>

                    <p:outputLabel value="Código de Barra:" for="codigoBarra"/>
                    <p:inputText value="#{produtoControle.entidade.ncm}"
                                 id="codigoBarra"/>

                    <p:outputLabel value="Valor de custo:" for="vlCusto"/>
                    <p:inputText value="#{produtoControle.entidade.valorCusto}"
                                 id="vlCusto">
                        <f:convertNumber minFractionDigits="2" maxFractionDigits="2"/>
                    </p:inputText>

                    <p:outputLabel value="Valor de venda:" for="vlVenda"/>
                    <p:inputText value="#{produtoControle.entidade.valorVenda}"
                                 id="vlVenda">
                        <f:convertNumber minFractionDigits="2" maxFractionDigits="2"/>
                    </p:inputText>

                    <p:outputLabel value="Quantidade Mínima em Estoque:" for="qtMinEstoque"/>
                    <p:inputText value="#{produtoControle.entidade.quantidadeMinEstoque}"
                                 id="qtMinEstoque"
                                 disabled="#{produtoControle.entidade.id!=null}">
                        <f:convertNumber minFractionDigits="2" maxFractionDigits="2"/>
                    </p:inputText>

                    <p:outputLabel value="Quantidade Máxima em Estoque:" for="qtMaxEstoque"/>
                    <p:inputText value="#{produtoControle.entidade.quantidadeMaxEstoque}"
                                 id="qtMaxEstoque"
                                 disabled="#{produtoControle.entidade.id!=null}">
                        <f:convertNumber minFractionDigits="2" maxFractionDigits="2"/>
                    </p:inputText>

                    <p:outputLabel value="Quantidade Múltiplo:" for="qtMultiplo"/>
                    <p:inputText value="#{produtoControle.entidade.quantidadeMultiplo}"
                                 id="qtMultiplo"
                                 disabled="#{produtoControle.entidade.id!=null}">
                        <f:convertNumber minFractionDigits="2" maxFractionDigits="2"/>
                    </p:inputText>

                    <p:outputLabel value="Estoque inicial:" for="qtEstoque"/>
                    <p:inputText value="#{produtoControle.entidade.quantidadeEstoque}"
                                 id="qtEstoque"
                                 disabled="#{produtoControle.entidade.id!=null}">
                        <f:convertNumber minFractionDigits="2" maxFractionDigits="2"/>
                    </p:inputText>

                    <p:outputLabel value="Percentual de Desconto Máximo:" for="pcDesconto"/>
                    <p:inputText value="#{produtoControle.entidade.pcMaxDesconto}"
                                 id="pcDesconto">
                        <f:convertNumber minFractionDigits="2" maxFractionDigits="2"/>
                    </p:inputText>

                    <p:outputLabel for="categoria" value="Categoria Produto: " />
                    <p:selectOneMenu id="categoria" 
                                     filter="true" 
                                     filterMatchMode="startsWith" 
                                     value="#{categoriaProdutoControle.entidade}"
                                     converter="#{categoriaProdutoControle.converter()}">
                        <!--<f:selectItem itemLabel="Selecione a Categoria" itemValue="" />-->
                        <f:selectItems value="#{categoriaProdutoControle.listar}" 
                                       var="c"
                                       itemLabel="#{c.descricaoCategoriaProduto}" 
                                       itemValue="#{c}" />
                    </p:selectOneMenu>

                    <p:outputLabel for="marca" value="Marca Produto: " /> 
                    <p:selectOneMenu id="marca" 
                                     filter="true" 
                                     filterMatchMode="startsWith"
                                     value="#{marcaControle.entidade}" 
                                     converter="#{marcaControle.converter()}">
                        <!--<f:selectItem itemLabel="Selecione a Marca" itemValue="" />-->                        
                        <f:selectItems value="#{marcaControle.listar}" 
                                       var="m" 
                                       itemValue="#{m}" 
                                       itemLabel="#{m.descricaoMarca}" />
                    </p:selectOneMenu>

                    <p:outputLabel value="Produto ativo:" for="ativo"/>
                    <p:selectBooleanCheckbox value="#{produtoControle.entidade.ativo}"
                                             id="ativo"/>
                </h:panelGrid>
                <f:facet name="footer">
                    <p:commandButton value="Salvar" 
                                     action="#{produtoControle.salvar()}"
                                     ajax="false"/>
                    <p:commandButton value="Voltar"
                                     action="list?faces-redirect=true"
                                     ajax="false" immediate="true"/>
                </f:facet>
            </p:panel>

        </h:form>
    </h:panelGroup>
</html>
