<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/WEB-INF/template.xhtml">
        <ui:define name="conteudo">
            
            <h:panelGroup rendered="#{clienteControle.layoutList}">
                <h:form>
                    <p:dataTable value="#{clienteControle.listar}"
                                 var="item"
                                 paginator="true" rows="10"
                                 paginatorPosition="bottom"
                                 emptyMessage="Clientes não encontrados"
                                 selectionMode="single"
                                 selection="#{clienteControle.entidade}"
                                 rowKey="#{item.id}">
                        
                        <f:facet name="header">
                            <h:outputText value="Clientes"/>
                        </f:facet>
                        
                        <p:column headerText="ID">
                            <h:outputText value="#{item.id}"/>
                        </p:column>
                        <p:column headerText="Nome">
                            <h:outputText value="#{item.pessoa.nome_razao}"/>
                        </p:column>
                        <p:column headerText="CPF/CNPJ">
                            <h:outputText value="#{item.pessoa.documentoFederal}"/>
                        </p:column>
                        <p:column headerText="RG/IE">
                            <h:outputText value="#{item.pessoa.documentoEstadual}"/>
                        </p:column>
                        <p:column headerText="Telefone">
                            <h:outputText value="#{item.pessoa.telefoneFixo}"/>
                        </p:column>
                        <f:facet name="footer">
                            <p:commandButton value="Novo"
                                             actionListener="#{clienteControle.novo()}"
                                             ajax="false"/>
                            <p:commandButton value="Alterar"
                                             actionListener="#{clienteControle.alterar()}"
                                             ajax="false"/>
                            <p:commandButton value="Excluir"
                                             action="#{clienteControle.excluir()}"
                                             ajax="false"/>
                        </f:facet>
                    </p:dataTable>
                </h:form>
            </h:panelGroup>


            <ui:include src="form.xhtml"/>
        </ui:define>

    </ui:composition>

</html>
