<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <h:panelGroup rendered="#{marcaControle.layoutForm}">
        <h:form>
            <p:panel header="Cadastro de Marcas de Produtos">
                <h:panelGrid columns="2">
                    <p:outputLabel value="Descrição da Marca:" for="descricaoMarca"/>
                    <p:inputText value="#{marcaControle.entidade.descricaoMarca}"
                                 id="descricaoMarca"
                                 required="true" 
                                 requiredMessage="A descrição é obrigatória"/>
                </h:panelGrid>
                <f:facet name="footer">
                    <p:commandButton value="Salvar" 
                                     action="#{marcaControle.salvar()}"
                                     ajax="false"/>
                    <p:commandButton value="Voltar"
                                     action="list?faces-redirect=true"
                                     ajax="false" immediate="true"/>
                </f:facet>
            </p:panel>
            
        </h:form>
    </h:panelGroup>
    
</html>
