<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:h="http://xmlns.jcp.org/jsf/html">
    <h:head>
        <title>Loja Comercial</title>
        <meta name="viewport" 
              http-equiv="Content-Type" 
              content="width=device-width, initial-scale=1.0, text/html; charset=UTF-8"/>
        <link href="#{facesContext.externalContext.request.contextPath}/images/template.css" rel="stylesheet" type="text/css" />
        <link rel="shortcut icon" href="#{facesContext.externalContext.request.contextPath}/images/favicon.ico" />
    </h:head>
    <h:body>

        <p:growl id="growl" autoUpdate="true" showDetail="true" sticky="true" />

        <h:form>
            <p:menubar>
                <p:menuitem icon="ui-icon-home" url="/app/index.xhtml"/>
                <p:submenu label="Cadastros">
                    <p:submenu label="Clientes">
                        <p:menuitem value="Clientes"
                                    url="/app/cliente/list.xhtml"/>
                    </p:submenu>    
                    <p:submenu label="Produtos">
                        <p:menuitem value="Categorias" 
                                    url="/app/categoria/list.xhtml"/>
                        <p:menuitem value="Marcas" 
                                    url="/app/marca/list.xhtml"/>
                        <p:menuitem value="Produtos" 
                                    url="/app/produto/list.xhtml"/>
                    </p:submenu>
                </p:submenu>
                <p:submenu label="Movimentos">
                    <p:menuitem value="Venda" url="/app/venda/list.xhtml"/>
                </p:submenu>

<!--<p:menuitem value="Logoff" action="#{loginControle.logoff()}"/>-->
            </p:menubar>
        </h:form>
        <p:panel>
            <ui:insert name="conteudo"/>

            <f:facet name="footer">
                <div style="width: 215px; margin: 0 auto;">
                    <h:outputText value="Loja Comercial"/>
                </div>
            </f:facet>
        </p:panel>


    </h:body>
</html>
