<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <h:panelGroup rendered="#{vendaControle.layoutForm}">
        <h:form id="formVenda">
            <p:panel header="Movimento de venda">
                <h:panelGrid columns="2">
                    <p:outputLabel value="Data:" for="dataVenda"/>
                    <p:calendar id="dataVenda" value="#{vendaControle.entidade.dtvenda}"
                                readonly="true" pattern="dd/MM/yyyy HH:mm:ss"/>

                    <p:outputLabel value="Cliente:" for="cliente"/>
                    <p:selectOneMenu id="cliente" 
                                     filter="true" 
                                     filterMatchMode="startsWith" 
                                     value="#{vendaControle.entidade.cliente}"
                                     converter="#{clienteControle.converter()}">
                        <f:selectItems value="#{clienteControle.listar}" 
                                       var="cli"
                                       itemLabel="#{cli.pessoa.nome_razao}" 
                                       itemValue="#{cli}" />
                    </p:selectOneMenu>
                    <!--                    <p:autoComplete id="cliente"
                                    completeMethod="#{clienteControle.clienteLikeNome}"
                                    value="#{vendaControle.entidade.cliente}"
                                    converter="#{clienteControle.converter()}"
                                    var="cli"
                                    itemLabel="#{cli.pessoa.nome_razao}"
                                    itemValue="#{cli}"/>-->

                    <p:outputLabel value="Desconto:" for="desconto"/>
                    <p:inputText id="desconto" value="#{vendaControle.entidade.descontoArredondamento}">
                        <p:ajax event="blur" update="formVenda"
                                delay="30" listener="#{vendaControle.entidade.calculaTotal()}"/>
                    </p:inputText>

                    <p:outputLabel value="Total de desconto:" for="totalDesc"/>
                    <p:inputText id="totalDesc" value="#{vendaControle.entidade.desconto}"
                                 readonly="true"/>
                    
                    <p:outputLabel value="Total da venda:" for="total"/>
                    <p:inputText id="total" value="#{vendaControle.entidade.total}"
                                 readonly="true"/>

                </h:panelGrid>
                <hr/>
                <h:panelGrid columns="2">
                    <p:outputLabel value="Produto:" for="produto"/>
                    <p:selectOneMenu id="produto" 
                                     filter="true" 
                                     filterMatchMode="startsWith" 
                                     value="#{vendaControle.entidade.vendaItem.produto}"
                                     converter="#{produtoControle.converter()}">
                        <f:selectItems value="#{produtoControle.listar}" 
                                       var="prod"
                                       itemLabel="#{prod.descricaoProduto}" 
                                       itemValue="#{prod}" />
                        <p:ajax event="itemSelect" update="preco"
                                listener="#{vendaControle.relacionaPreco()}"/>
                    </p:selectOneMenu>
<!--                    <p:autoComplete id="produto"
                                    value="#{vendaControle.entidade.vendaItem.produto}"
                                    converter="#{produtoControle.converter()}"
                                    completeMethod="#{produtoControle.produtoLikeDescricao}"
                                    var="prod"
                                    itemLabel="#{prod.descricaoProduto}"
                                    itemValue="#{prod}">
                        <p:ajax event="itemSelect" update="preco"
                                listener="#{vendaControle.relacionaPreco()}"/>
                    </p:autoComplete>-->

                    <p:outputLabel value="Quantidade:" for="qtd"/>
                    <p:inputText id="qtd" 
                                 value="#{vendaControle.entidade.vendaItem.quantidade}"/>

                    <p:outputLabel value="Preço:" for="preco"/>
                    <p:inputText id="preco" 
                                 value="#{vendaControle.entidade.vendaItem.preco}"/>

                    <p:outputLabel value="Desconto:" for="descontoUnit"/>
                    <p:inputText id="descontoUnit" 
                                 value="#{vendaControle.entidade.vendaItem.desconto}"/>

                </h:panelGrid>
                <p:commandButton value="Adicionar"
                                 actionListener="#{vendaControle.entidade.adicionaItem()}"
                                 ajax="false"/>

                <p:dataTable id="tabProdutos" 
                             value="#{vendaControle.entidade.vendaItens}"
                             var="item">
                    <p:column headerText="Produto">
                        <h:outputText value="#{item.produto.descricaoProduto}"/>
                    </p:column>
                    <p:column headerText="(+) Preço Unit">
                        <h:outputText value="#{item.preco}"/>
                    </p:column>
                    <p:column headerText="(-) Desc Unit">
                        <h:outputText value="#{item.desconto}"/>
                    </p:column>
                    <p:column headerText="(x) Quantidade">
                        <h:outputText value="#{item.quantidade}"/>
                    </p:column>
                    <p:column headerText="(=) Total produto">
                        <h:outputText value="#{item.total}">
                            <f:convertNumber minFractionDigits="2" maxFractionDigits="2" type="currency" currencySymbol="R$ "/>
                        </h:outputText>
                    </p:column>
                    <p:column headerText="Remover">
                        <p:commandButton value="Remover"
                           actionListener="#{vendaControle.entidade.removeItem(item)}"
                           ajax="false"/>
                    </p:column>

                </p:dataTable>


                <f:facet name="footer">
                    <p:commandButton value="Salvar" 
                                     action="#{vendaControle.salvar()}"
                                     ajax="false"/>
                    <p:commandButton value="Voltar"
                                     action="list?faces-redirect=true"
                                     ajax="false" immediate="true"/>
                </f:facet>
            </p:panel>

        </h:form>
    </h:panelGroup>


</html>
